<div class="row footer-main">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 footer-batas"></div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 footer-left">
        <div class="footer-title">JOB PERTAMINA-MEDCO E&P TOMORI SULAWESI</div>
        <ul class="ul1">
            <li class="footer-sub-title"><span>HeadQuarter</span></li>
            <li><span>Menara Bidakara 4th. Fl.</span></li>
            <li><span>Jl. Jend. Gatot Subroto Kav 71-73</span></li>
            <li><span>Pancoran 12870 Jakarta Selatan</span></li>
        </ul>
        <ul>
            <li class="footer-sub-title"><span>Site Office</span></li>
            <li><span>Desa Paisubololi</span></li>
            <li><span>Kec. Batui Selatan, Kab. Banggai</span></li>
            <li><span>Sulawesi Tengah</span></li>
        </ul>
    </div>
    <div class="d-none d-lg-block col-lg-1 footer-center"></div>
    <div class="d-none d-lg-block col-lg-6 footer-right">
        <div class="footer-title">APPLICATIONS</div>
        <ul>
            <li><a href="">Web Mail</a></li>
            <li><a href="">Website</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
        <ul>
            <li><a href="">E-Recruitment</a></li>
            <li><a href="">Tomori Cloud</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
        <ul>
            <li><a href="">E-Partner</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
        <div class="icon-ict">
            <img src="assets/img/copyright.png">
        </div>
    </div>
</div>