<div class="login-top-custom row">
    <div class="col-4 col-sm-4 col-md-4 col-lg-3 header-top-left">
        <div class="logo-left"></div>
    </div>
    <div class="col-8 col-sm-8 col-md-8 col-lg-9"></div>
</div>
<div class="navbar-login row">
    <div class="col-2 col-sm-2 col-md-2 col-lg-1 float-left text-right pl-0 pr-0 d-none d-sm-block">Welcome to</div>
    <div class="batas d-none d-sm-block">
        <span>|</span>
    </div>
    <div class="col-9 col-sm-9 col-md-9 col-lg-10 float-left text-left pl-0 pr-0">{{appName}}</div>
</div>