<form class="form" [formGroup]="formData" novalidate>

    <div class="block-title-main">
        <a class="btn btn-danger btn-sm float-right" [routerLink]="['/MusicList']" ><i class="fa fa-list"></i> Back</a>
        <a class="btn btn-success btn-sm float-right"   (click)="Simpan()" ><i class="fa fa-hdd-o"></i> Save</a>
        <h3>{{JudulTransaksi}}</h3>
    </div>
    <hr>
     
    <div class="form-row" *ngIf="!IsCreateMode">
        <div class="form-group form-inline col-sm-6 col-lg-6">
            <label class="col-sm-4 col-lg-4">Id</label>
            <div class="col-sm-8 col-lg-8">
						<input type="text" class="form-control" formControlName="artistId" >
            </div>
        </div>
    </div>
    
        <div class="form-row">
            <div class="form-group form-inline col-sm-6 col-lg-6">
                <label class="col-sm-4 col-lg-4">Album Name</label>
                <div class="col-sm-8 col-lg-8">
                            <input type="text" class="form-control" formControlName="albumName" >
                </div>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group form-inline col-sm-6 col-lg-6">
                <label class="col-sm-4 col-lg-4">Artist Name</label>
                <div class="col-sm-8 col-lg-8">
                            <input type="text" class="form-control" formControlName="artistName" >
                </div>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group form-inline col-sm-6 col-lg-6">
                <label class="col-sm-4 col-lg-4">Date Release</label>
                <div class="col-sm-8 col-lg-8">
    
                    <input type="text"
                    class="form-control"
                    formControlName="releaseDate"
                    #dp="bsDatepicker"
                    bsDatepicker  
                    [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                    > 
                        
                </div>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group form-inline col-sm-6 col-lg-6">
                <label class="col-sm-4 col-lg-4">Image URL</label>
                <div class="col-sm-8 col-lg-8">

                    <input type="text" class="form-control" formControlName="imageUrl" >
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group form-inline col-sm-6 col-lg-6">
                <label class="col-sm-4 col-lg-4">Sample URL</label>
                <div class="col-sm-8 col-lg-8">

                    <input type="text" class="form-control" formControlName="sampleUrl" >
                </div>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group form-inline col-sm-6 col-lg-6">
                <label class="col-sm-4 col-lg-4">Price</label>
                <div class="col-sm-8 col-lg-8">
                            <input type="number" class="form-control" formControlName="price" >
                </div>
            </div>
        </div>
    
      
    
    </form>