<div class="d-none d-md-flex row header-top-custom">
    <div class="col-md-4 col-lg-3 header-top-left">
        <div class="logo-left"></div>
    </div>
    <div class="col-md-4 col-lg-5">
        <div class="welcome">
            <label>Welcome to</label>
        </div>
        <div class="page-title">
            <a [routerLink]="['/dashboard']">{{appName}}</a>
        </div>
    </div>
    <div class="col-md-4 col-lg-4">
        <div class="d-none d-lg-block col-lg-2 no-padding float-right">
            <div class="emp-img">
               
            </div>
        </div>
        <div class="col-md-12 col-lg-10 float-right w-auto">
            <div class="welcome">
                <label>Hello,</label>
            </div>
            <div class="emp-name">
                <label for="">{{currentUser.namaPetugas}}</label>
            </div>
            <div class="emp-position">
                <label for=""> </label>
            </div>
            <div class="emp-btn">
                <a class="btn btn-sm btn-danger" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</div>
<div class="row navbar-default sticky-top" id="top-navbar">
    <div class="col-2 col-sm-2 col-md-4 col-lg-4">
        <nav class="navbar navbar-light navbar-expand-md">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#top-navigation-navbar" aria-controls="top-navigation-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <label class="sub-title d-none d-md-block">{{get_MainViewBag_SubTitle}}</label>
            <div class="collapse navbar-collapse" id="top-navigation-navbar">
                <ul class="navbar-nav bg-white m-0 pl-1 pr-1 d-block d-md-none">
                          <li class="nav-item">
             
            <ul class="in list-unstyled" id="subAcc">
              
               <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/AnggotaList']" routerLinkActive="active" ><i class="fa fa-user"></i> List Anggota</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/BukuList']" routerLinkActive="active" ><i class="fa fa-book"></i> List Buku</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/PinjamList']" routerLinkActive="active" ><i class="fa fa-tasks"></i> List Pinjaman</a>
                </li>
            </ul>
        </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-7 col-sm-7 col-md-4 col-lg-4 nav-action-group" *ngIf="IsNeedActionDDL">
        <label class="nav-label d-none d-sm-block">Action</label>
        <select [(ngModel)]="doactionParent" name="doactionParent" id="doactionParent" class=" form-control nav-select d-inline-block ml-1" (change)="OnChangeDDLAction($event)">
           
           <option *ngFor="let item of get_AllRequestActions" value="{{item.FieldValue}}">{{item.FieldText}}</option>  
        </select>
        <div class="nav-btn d-inline-block ml-1">
        <button type="submit" *ngIf="IsOpenAdhocVisible" (click)="openAdhocEmployee()" class="btn btn-light">{{LabelAdhoc}}</button>   
        </div>
        <div class="nav-btn d-inline-block ml-1">
            <a class="btn btn-sm btn-action" (click)="saveSendRequest()">Execute</a>
        </div>
    </div>
    <div class="col-3 col-sm-3 col-md-4 col-lg-4">
        <div class="d-none d-lg-block col-lg-2"></div>
        <div class="col-sm-12 col-md-12 col-lg-10 float-right">
            <div class="nav-btn d-none" id="nav-btn-logout">
                <a class="btn btn-sm btn-danger" (click)="logout()">Logout</a>
            </div>
            <img src="assets/img/logo-header-2.png" alt="" class="icon-logo pr-0">   
        </div>
    </div>
</div>