<div class="login-row row">
    <div class="kepala-login">
        <div class="img-kepala-login"></div>
    </div>
    <div class="col-12 box-login">
        <h1></h1>
        <div class="login-form">
            <form name="login-form" class="form" [formGroup]="formData" autocomplete="on">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control text-center" name="userId" placeholder="userId" formControlName="userId" autocomplete="payroll" [ngClass]="{'is-invalid': f.userId.errors && f.userId.touched}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" class="form-control text-center" name="password" placeholder="password" formControlName="password" autocomplete="current-password" [ngClass]="{'is-invalid': f.password.errors && f.password.touched}">
                    </div>
                </div>
                <div class="row">
                    <div class="btn-login-submit">
                        <input type="submit" value="Login" (click)="login()" class="btn btn-success btn-submit-main">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>