<form class="form" [formGroup]="formData" novalidate>

<div class="block-title-main">
    <a class="btn btn-danger btn-sm float-right" [routerLink]="['/AnggotaList']" ><i class="fa fa-list"></i> Kembali</a>
    <a class="btn btn-success btn-sm float-right"   (click)="Simpan()" ><i class="fa fa-hdd-o"></i> Simpan</a>
    <h3>{{JudulTransaksi}}</h3>
</div>
<hr>
 


    <div class="form-row" *ngIf="!IsCreateMode">
        <div class="form-group form-inline col-sm-6 col-lg-6">
            <label class="col-sm-4 col-lg-4">No Anggota</label>
            <div class="col-sm-8 col-lg-8">
						<input type="text" class="form-control" formControlName="noAnggota" >
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group form-inline col-sm-6 col-lg-6">
            <label class="col-sm-4 col-lg-4">Nama Anggota</label>
            <div class="col-sm-8 col-lg-8">
						<input type="text" class="form-control" formControlName="namaAnggota" >
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group form-inline col-sm-6 col-lg-6">
            <label class="col-sm-4 col-lg-4">Jenis Kelamin</label>
            <div class="col-sm-8 col-lg-8">

			     	<select class="form-control" formControlName="jenisKelamin"

								>
							<option  value="L">Laki-laki</option>								
							<option  value="P">Perempuan</option>	
						</select>
                    
            </div>
        </div>
    </div>

        <div class="form-row">
        <div class="form-group form-inline col-sm-6 col-lg-6">
            <label class="col-sm-4 col-lg-4">Alamat</label>
            <div class="col-sm-8 col-lg-8">
						  <textarea id="alamat" 
                        formControlName="alamat" class="form-control" rows="4" cols="50"
                         ></textarea>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group form-inline col-sm-6 col-lg-6">
            <label class="col-sm-4 col-lg-4">Telp</label>
            <div class="col-sm-8 col-lg-8">
						<input type="number" class="form-control" formControlName="telp" >
            </div>
        </div>
    </div>

  

</form>