<div class="block-title-main">
    <a class="btn btn-success btn-sm float-right" [routerLink]="['/AnggotaCreate']" ><i class="fa fa-plus"></i> Daftar Anggota</a>
    <h3>List Anggota</h3>
</div>
<hr>
<div class="table-responsive">
    <table class="table table-bordered row-border hover">
        <thead>
            <tr>  
                            <th>Nomor Anggota</th>
                            
                            <th>Nama Anggota</th>
                             
                           
                            <th>Jenis Kelamin</th>
                            <th>Alamat</th>
                            <th>No Telp</th>
                       <th>Action</th>
                            
                             
            </tr>
     
        </thead>
        <tbody *ngIf="ListData != null || ListData?.length != 0">
            <tr *ngFor="let item of ListData">
                <td style="width: 5%;">{{item.noAnggota}}</td>
               
                <td style="width: 35%;">{{item.namaAnggota}}</td>
                <td style="width: 5%;">{{item.jenisKelamin}}</td>
                <td style="width: 25%;">{{item.alamat}}</td>
                <td style="width: 10%;">{{item.telp}}</td>
                  <td style="width: 10%;">
                <a class="btn btn-success btn-submit-main" routerLink="/AnggotaEdit/{{item.noAnggota}}" >Edit</a>
                </td>
                
            </tr>
        </tbody>
        <tbody *ngIf="ListData == null || ListData?.length == 0">
            <tr>
                <td colspan="7" class="no-data-available">No data available!</td>
            </tr>
        </tbody>
 
    </table>
</div>