<form class="form" novalidate>

    <div class="block-title-main">
        <a class="btn btn-danger btn-sm float-right" (click)="CloseWindows()" ><i class="fa fa-list"></i> Close</a>
 
        <h3>Play Music</h3>
    </div>
    <hr>
     
 
    
        <div class="form-row">
            <div class="form-group form-inline col-sm-6 col-lg-6">
               
                <div class="col-sm-8 col-lg-8">
                    <label>{{AlbumName}}</label>
                </div>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group form-inline col-sm-6 col-lg-6">
         
                <div class="col-sm-8 col-lg-8">
                        <label>{{ArtistName}}</label>    
                </div>
            </div>
        </div>
    
 
    
        <div class="form-row">
            <div class="form-group form-inline col-sm-6 col-lg-6">
                <label class="col-sm-4 col-lg-4"></label>
                <div class="col-sm-8 col-lg-8">

                    <img src="{{ImageUrl}}" />
                </div>
            </div>
        </div>

        
    
       
    
      
    
    </form>