<nav class="navbar navbar-light p-0">
    <ul class="navbar-nav bg-white w-100">

        <li class="nav-item">
             
            <ul class="in list-unstyled" id="subAcc">
              
               <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/AnggotaList']" routerLinkActive="active" ><i class="fa fa-user"></i> List Anggota</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/BukuList']" routerLinkActive="active" ><i class="fa fa-book"></i> List Buku</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/PinjamList']" routerLinkActive="active" ><i class="fa fa-tasks"></i> List Pinjaman</a>
                </li>
            </ul>
        </li>

     
 


 

    </ul>
</nav>